/* .editPage-main{
  display: flex;
  /* justify-content: center;
  align-items: center;
} */

.edit-title{

}

.to-from-location{

}

.from-input,
.to-input,
.education-input{
font-size: 22px;

}

/* .from-label,
.to-label, */
.education{
  justify-self: left;
text-align: left;
display: inline;
}


.select-all{
  font-style: italic;
  font-size:16px;
  line-height:19px;
}

.edit-options{
padding: 40px;
}

.subjects-array,
.interests-array,
.hobbies-array,
.assistance-array,
.priorities-array{

}

.subjects-label,
.interests-label,
.hobbies-label,
.assistance-label,
.priorities-label{
font-weight: 400;
font-size: 22px;
line-height:26px;
}

.art-button,
.science-button,
.math-button,
.lit-button,
.la-button,
.health-button{
  margin: 15px;
  padding: 40px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.buttonFalse{
  margin: 15px;
  padding: 40px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.buttonTrue{
  border: 3px solid #FFBE5C;
  background-color: #FBFCE6;
  color: #025700;
  margin: 15px;
  padding: 40px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}


.int-button,
.hob-button,
.ast-button,
.pri-button{
  margin: 15px;
  padding: 40px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}



.doneProfile-button{
  font-size: 18px;
  height: 33px;
  background-color: #025800;
  color: #FBFCE6;
  padding: 2px 20px;
  border-radius: 20px;
  border-style: none;
}