.ticker-tape{
  position: absolute;
  width: 100%;
  height: 39px;
  left: 0px;
  top: 0px;
  background-color: #FF835C;
  color: #000000;
}

.ticker-tape-text{
  position: absolute;
  width: 1171.2px;
  height: 13px;
  left: 19.2px;
  top: 11.35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;

}

header{
  position: absolute;
  width: 1216px;
  height: 113px;
  left: -16px;
  top: 39px;
}
.profile-icon{

}
