.header{
  width: 100%;
  height: 152px;
  text-align: center;
  margin: 0;
}

h3{
  /* offsets default browser styling */
  margin: 0;
}

.ticker-tape{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 39px;
  background-color: #FF835C;
  color: #000000;
  text-align: center;
  position: relative;
}

.ticker-tape-text{
  height: 13px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.exit-banner{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 96%;
  top: 14.63px;
  line-height: 20px;
}

.header-icon-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 71px;
  bottom: 0;
  height: 65px;
}

.myalpaca-logo{
  margin-bottom:-3%;
}

.logo-text{
  display: inline;
  text-align: left;
  color: #025700;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 0;
}

.userprofile-signup{
  margin-right: 52px;
  margin-top: 10px;
  text-align: center;
}

.userprofile-signup a{
  text-decoration: none;
}

.nouser-side-text{
  color: #025700;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.header-nav-bar{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  background-color: #025700;
  list-style: none;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  padding: 10px;
  height: 30px;
  line-height: 26px;
  color: #FBFCE6;
  margin-top: 0;
}

.nav-text{
  padding: 20px;
}



/* ----------------------- Media Queries  - Mobile -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px){
  .header{
    height: 150px;
  }
 
  .ticker-tape-text{
    height: 100%;
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-all;
    width: 90%;
  }
  
  .exit-banner{
    top: 10px;
  }
  
  .header-icon-bar{
    margin-top: 6px;
    margin-left: 31px;
    height: 60px;
  }
  
  .myalpaca-logo{
    margin-bottom: 5%;
    height: 50px;
  }
  
  .logo-text{
  display: none;
  }

  .userprofile-signup{
    margin-right: 32px;
  }

  .nouser-profile-icon{
    height: 40px;
    margin-bottom: 5%;
  }
  
  .nouser-side-text{
    display: none;
  }

  .header-nav-bar{
    font-size: 14px;
    padding: 6px;
    height: 30px;
  }

  .nav-text{
    padding: 10px;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .header{
    height: 150px;
  }
 
.ticker-tape{
    height: 100%;
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-all;
    width: 100%;
  } 
  
.exit-banner{
    top: 25px;
    height: 12px;
  }
  
  .header-icon-bar{
    margin-left: 31px;
  }
  
  .myalpaca-logo{
    margin-bottom: -5%;
  }
  
  .userprofile-signup{
    margin-right: 42px;
  }

  .nouser-profile-icon{
    height: 40px;
    margin-bottom: 0;
  } 
  
  .nouser-side-text{
    margin-bottom: 9%;
  }

   
  .header-nav-bar{
    font-size: 18px;
    padding: 6px;
    height: 30px;
  }

}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 1025px) and (max-width: 1920px){


  .header-nav-bar{
    font-size: 22px;
    padding: 6px;
    height: 40px;
  }
}