/* .header-logout{
  flex: 1;
  width: 100%;
  height: 200px;
  text-align: center;
}

h3{
  /* offsets default browser styling */
  margin: 0;
}

.ticker-tape{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 39px;
  background-color: #FF835C;
  color: #000000;
}

.ticker-tape-text{
  text-align: center;
  height: 13px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.exit-banner{
  margin-right: 20px;
  font-size: 20px;
  line-height: 20px;
}

.header-icon-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  height: 65px;
}


.logo-text{
  display: inline;
  text-align: left;
  color: #025700;
  font-size: 22px;
  line-height: 26px;
}



.header-nav-bar{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  background-color: #025700;
  list-style: none;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  padding: 10px;
  line-height: 30px;
  color: #FBFCE6;
  
} */

.userprofile-logout{
  margin-right: 20px;
  margin-top: 10px;
  height: 70px;
}

.userprofile-icon{
  height: 45px;
}

.userstate-text{
  color: #025700;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
