header{
  flex: 1;
/*   position: fixed; */
  width: 100%;
  height: 113px;
  left: -16px;
  top: 39px;
  text-align: center;
}

.ticker-tape{
/*   position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 39px;
  left: 0px;
  top: 0px;
  background-color: #FF835C;
  color: #000000;
}

.ticker-tape-text{
  height: 13px;
  left: 0;
  top: 0;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.exit-banner{
  margin-right: 5px;
}

.icon-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-set{
  margin-left: 20px;
  text-align: left;
}

.myalpaca-logo{
  height: 65px;
}

.logo-text{
  display: inline;
  text-align: left;
  color: #025700;
  font-size: 22px;
  line-height: 26px;
  padding: 5px; 
}

.profile-icon{
  display: inline;
  margin-right: 20px;
  height: 35px;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #025700;
  list-style: none;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FBFCE6;
  padding: 0px;
}


.logout-text{
  display: inline;
  margin-right: 10px;
}


/* .side-text{
margin-right: 0;
z-index: 1;
} */


.profile-icon{

}
