.header-user-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  bottom: 0;
  height: 65px;
}

.userprofile-logout{
  margin-right: 10px;
  text-align: center;
}

.userprofile-logout a{
  text-decoration: none;
}

.userprofile-icon{
  height: 40px;
  margin-bottom: 0px;
}


.user-side-text{
  color: #025700;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
