.usercreate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.usercreate-signup {
  width: 77px;
  height: 26px;
  left: 556px;
  top: 236px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}

.usercreate-sentence {
  width: 354px;
  height: 19px;
  left: 423px;
  top: 280px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.usercreate-span {
  font-weight: bold;
}

.usercreate-form {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 20px;
}

.usercreate-rectangle-21 {
  width: 243px;
  height: 41px;
  left: 467px;
  top: 394px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.usercreate-rectangle-23 {
  width: 243px;
  height: 41px;
  left: 467px;
  top: 498px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.usercreate-rectangle-24 {
  width: 243px;
  height: 41px;
  left: 467px;
  top: 602px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.usercreate-rectangle-22 {
  width: 243px;
  height: 41px;
  left: 467px;
  top: 706px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.usercreate-rectangle-14 {
  width: 128px;
  height: 33px;
  left: 525px;
  top: 934px;
  background: #025700;
  border-radius: 20px;
  color: #fbfce6;
}

.usercreate-personal {
  width: 292px;
  height: 96px;
  left: 448px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-top: 40px;
}

.usercreate-username {
  width: 94px;
  height: 21px;
  left: 467px;
  top: 352px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding-right: 150px;
}

.usercreate-email {
  width: 128px;
  height: 21px;
  left: 467px;
  top: 456px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding-right: 114px;
}

.usercreate-password {
  width: 92px;
  height: 21px;
  left: 467px;
  top: 560px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding-right: 150px;
}

.usercreate-confirm {
  width: 160px;
  height: 21px;
  left: 467px;
  top: 664px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding-right: 82px;
}

.usercreate-link {
  align-items: center;
}

.usercreate-register-container {
  text-align: center;
}
