.signup {
  position: absolute;
  width: 77px;
  height: 26px;
  left: 556px;
  top: 236px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.register {
  position: absolute;
  width: 354px;
  height: 19px;
  left: 423px;
  top: 280px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

span {
  font-weight: bold;
}

.container {
  position: absolute;
  width: 323px;
  height: 685px;
  left: 433px;
  top: 320px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

/* .rectangle-20 {
} */

.rectangle-21 {
  position: absolute;
  width: 243px;
  height: 41px;
  left: 467px;
  top: 394px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.rectangle-23 {
  position: absolute;
  width: 243px;
  height: 41px;
  left: 467px;
  top: 498px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.rectangle-24 {
  position: absolute;
  width: 243px;
  height: 41px;
  left: 467px;
  top: 602px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.rectangle-22 {
  position: absolute;
  width: 243px;
  height: 41px;
  left: 467px;
  top: 706px;
  background: #ffffff;
  border: 3px solid #025700;
  box-sizing: border-box;
  border-radius: 3px;
}

.rectangle-14 {
  position: absolute;
  width: 128px;
  height: 33px;
  left: 525px;
  top: 934px;

  background: #025700;
  border-radius: 20px;
}

.personal {
  position: absolute;
  width: 292px;
  height: 96px;
  left: 448px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.username {
  position: absolute;
  width: 94px;
  height: 21px;
  left: 467px;
  top: 352px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.email {
  position: absolute;
  width: 128px;
  height: 21px;
  left: 467px;
  top: 456px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.password {
  position: absolute;
  width: 92px;
  height: 21px;
  left: 467px;
  top: 560px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.confirm {
  position: absolute;
  width: 160px;
  height: 21px;
  left: 467px;
  top: 664px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.rectangle-14 value {
  position: absolute;
  width: 80.79px;
  height: 19.46px;
  left: 548.6px;
  top: 940.77px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #fbfce6;
}
