.activities-chart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 118px;
  margin-bottom: 188px;
}

.rows{
  padding: 20px;
}

td{
  font-family: "Roboto";
  border: 20px solid #ffffff;
  width: 430px;
  height: 230px;
  padding: 0.5rem;
  text-align: left;
  vertical-align: bottom;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  color: #ffffff;
}


.local-events{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364804/myalpaca/LocalEventTile_ph2evx.png);
  background-size: cover;
}


.weather{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364804/myalpaca/WeatherTile_uorovt.png);
background-size: cover;
}

.restaurants{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364804/myalpaca/RestaurantTile_tkekwe.png);
background-size: cover;
}

.currency{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364823/myalpaca/CurrencyTile_evvgoo.png);
background-size: cover;
}

.transportation{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364804/myalpaca/TransportationTile_ftqiqt.png);
background-size: cover;
}

.languages{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364803/myalpaca/LanguageTile_n8lg2p.png);
background-size: cover;
}

.culture{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364823/myalpaca/CultureTile_yuzo9u.png);
background-size: cover;
}

.shopping{
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/zumariposa/image/upload/v1595364803/myalpaca/ShoppingTile_sdwcz8.png);
background-size: cover;
}

/* ----------------------- Media Queries  -  Mobile -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px){

  .activities-chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 118px;
    margin-bottom: 188px;
  }
  
  .rows{
    padding: 20px;
  }
  
  td{
    font-family: "Roboto";
    border: 20px solid #ffffff;
    width: 430px;
    height: 230px;
    padding: 0.5rem;
    text-align: left;
    vertical-align: bottom;
    font-size: 40px;
    line-height: 56px;
    font-weight: 600;
    color: #ffffff;
  }

}


/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 768px) and (max-width: 1024px){}




/* ----------------------- Media Queries  - Laptop + Up  -----------------------  */
@media only screen and (min-width: 1025px) and (max-width: 1280px){}