.userDelete-section {
  background-image: url(https://i.imgur.com/Edhrt0d.png);
  background-size: cover;
  height: 558px;
  font-family: Roboto;
  font-style: normal;
  margin-bottom: 200px;
}

.sorry-title {
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
  color: #626262;
}

.userdelete-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.options-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 332px;
  height: 179px;
  left: 467px;
  top: 501px;
  background: #ffffff;
  border-radius: 8px;
}

.checkbox {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
}

.buttons-div {
  margin: 0 30%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.tell-us {
  text-align: center;
  /* padding-top: 20px;
  font-size: 23px;
  font-weight: bold; */
  width: 322px;
  height: 30px;
  left: 472px;
  top: 518px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.cancel-button {
  width: 180px;
  height: 50px;
  left: 642px;
  top: 715px;
  background: #638d62;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fbfce6;
  border: none;
}

.cancel-link {
  text-decoration: none;
  color: #fbfce6;
}

.delete-button {
  width: 180px;
  height: 50px;
  left: 443px;
  top: 715px;
  background: #ffbe5c;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fbfce6;
  border: none;
}

.checkbox-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25%;
  width: 246px;
  height: 25px;
  left: 538px;
  top: 563px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
